html {
  font-size: 10px;
  background-color: #83b9ff;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 1);
  text-shadow: 0 0 0.5rem black;
}

.title {
  display: flex;
  justify-content: center;
  margin: 10rem 0 0 0;
  font-size: 50px;
  color: white;
}

.playing {
  transform: scale(1.5);
  border-color: #e100ff;
  box-shadow: 0 0 1rem white;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
}
